.ManagingBox {
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 30%;
  width: 90%;

  button {
    margin-top: 10px;
    width: 90%;
    height: 50px;
  }
  input {
    margin-top: 10px;
  }
}
.disabledBtn {
  background-color: rgba(128, 128, 128, 0.59);
}

